* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 600px;
  width: calc(100% - 1rem);
  height: 100vh;
  margin: 0 auto;
  border: 4px solid tomato;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
h1 {
  text-align: center;
  padding: 1rem;
  font-family: 'Gamja Flower', cursive;
  margin-top: 3rem 0;
}
.guide_chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* padding: 2rem; */
  display: flex;
  flex-wrap: wrap;
}
.guide_chat > label {
  width: 40%;
  margin: 0.5rem 0;
  font-family: 'Gamja Flower', cursive;
}
.guide_chat > input {
  width: 40%;
  margin: 0.5rem 0;
  margin-right: 2rem;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 0.5rem;
}
.guide_chat > input:focus {
  background-color: #eeeeee80;
}
.bgimg {
  position: absolute;
  top: 50%;
  width: 400px;
}
.flower {
  width: 30px;
}

/* animation */
body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

body {
  background: cornsilk;
}
.intro,
.intro a {
  color: #fff;
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.demo a {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.btn_con {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem 0;
}
#btnSendMessage {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0.5rem 0;
  font-family: 'Gamja Flower', cursive;
}
#btnSendMessage:hover {
  background: tomato;
  color: white;
}
.chat_con {
  background-color: #9bbbd4;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 60%;
}
.chat_con::-webkit-scrollbar {
  display: none;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mgrowth,
.wgrowth {
  width: 100%;
}
.loaderP {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  font-family: 'Gamja Flower', cursive;
  background-color: #9bbbd4;
  border: 1px dotted #090909;
  border-radius: 4px;
  color: black;
}
.chat_message > p {
  background-color: #fef01b;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
}
.chat_message:nth-of-type(2n) {
  display: flex;
  justify-content: start;
}
.chat_message:nth-of-type(2n + 1) {
  display: flex;
  justify-content: end;
}
.assistant {
  text-align: left;
  width: 70%;
  font-size: 0.8rem;
  line-height: 1.7;
}
.question {
  font-family: 'Gamja Flower', cursive;
  text-align: right;
  width: 70%;
  font-size: 1rem;
}
.chat_message .assistant {
  background-color: white;
}
.chat-input {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  bottom: 100px;
  width: 100%;
  flex-wrap: wrap;
}
.chat-input > input {
  padding: 1rem;
  flex: 1;
}
#btn {
  cursor: pointer;
  padding: 0 0.5rem;
}
#btn:hover {
  border: 1px solid black;
  background: tomato;
  color: white;
}
.restar_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.restart {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #eaeaea;
  margin: 1rem 0;
  cursor: pointer;
}
.restart:hover {
  background: tomato;
  color: white;
}
.kakaoAD {
  background-color: #dfdfdf;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
